.color-chip {
  display: flex;

  &__preview {
    width: 60px;
    height: 60px;
    background-color: #000000;
    border-radius: 4px;
    transition: background-color 0.20s ease;

    .is-mobile & {
      width: 48px;
      height: 48px;
    }
  }

  &__data {
    display: flex;
    padding-left: 16px;
    flex-direction: column;
    justify-content: center;

    &__title {
      margin-bottom: 4px;
      font-size: var(--font-size-lg);
      text-transform: capitalize;

      .is-mobile & {
        font-size: var(--font-size-lg);
      }
    }

    &__label {
      font-size: var(--font-size-sm);
      font-weight: 600;
      line-height: 1;
    }
  }
}
