.home {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  flex-direction: column;
  
  &.is-mobile {
    padding-right: 28px;
    padding-left: 28px;
  }
}