// Search input styles
.search-input {
  position: relative;
  display: flex;
  width: 100%;

  &__form-control {
    padding-right: 72px;
    width: 100%;
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  &--hero {
    margin-bottom: 12px;
  }
}
